.mat-card {
  width: 350px;
  height: auto;
  padding: 4px;
}

.td-game--metrics {
  width: 15%;
  text-align: center;
}

.td-game--team {
  width: 70%;
  overflow: hidden;
}

.game-win__color {
  background: darkgreen;
}

.game-score__color {
  background: #7f7f7f;
}
