<div class="margin-top-10 large-bold-header-text center-text">Today's Player Values</div>
<div class="center-text margin-top-10">
  Player values are scraped from <a class="info__alert" href="https://keeptradecut.com/" target="_blank">KeepTradeCut.com</a> dynasty rankings calculated from over <span class="info__alert">600,000+</span> data points.
  <div>The scoring is <span class="info__alert">0.5 PPR</span>, the table below will update depending on whether your league is Superflex or not.</div>
</div>

<div class="margin-top-25">
  <app-ktc-table *ngIf="playersLoaded" [players]="playerService.playerValues"></app-ktc-table>
</div>
