atomicwrites==1.4.0
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
idna==2.8
importlib-metadata==3.10.1
more-itertools==8.7.0
packaging==20.9
pluggy==0.13.1
psycopg2==2.8.6
py==1.10.0
pyparsing==2.4.7
pytest==4.6.2
requests==2.22.0
six==1.15.0
sleeper-api-wrapper==1.0.7
soupsieve==2.2.1
urllib3==1.25.11
wcwidth==0.2.5
zipp==3.4.1
