.mat-column-teamRating,
.mat-column-record,
.mat-column-winChampionship,
.mat-column-winDivision,
.mat-column-getBye,
.mat-column-makeDivRd,
.mat-column-makeConfChamp,
.mat-column-makeChampionship,
.mat-column-makePlayoffs {
  max-width: 90px;
}

.mat-column-record,
.mat-column-winChampionship,
.mat-column-winDivision,
.mat-column-getBye,
.mat-column-makeDivRd,
.mat-column-makeConfChamp,
.mat-column-makeChampionship,
.mat-column-makePlayoffs {
  text-align: right;
  justify-content: flex-end;
  padding-right: 15px;
}

.mat-column-teamRating,
.mat-column-teamDivision,
.mat-column-teamName {
  text-align: left;
  justify-content: start;
}

.mat-column-makePlayoffs {
  border-left: #585859 solid 1px;
}
