<div class="table-container">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="teamRating" matSortDirection="desc">

    <ng-container matColumnDef="teamRating">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Team Rating</mat-header-cell>
      <mat-cell *matCellDef="let team">{{sleeperService.selectedLeague.isSuperflex ? powerRankingsService.findTeamFromRankingsByRosterId(team.roster.rosterId).sfTradeValueStarter : powerRankingsService.findTeamFromRankingsByRosterId(team.roster.rosterId).tradeValueStarter}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="teamName">
      <mat-header-cell *matHeaderCellDef>Team</mat-header-cell>
      <mat-cell *matCellDef="let team" class="link--text__no__underline" [routerLink]="['../team', team.owner?.ownerName]">
        <img #image [src]="'https://sleepercdn.com/avatars/thumbs/' + team.owner?.avatar"
             onerror="style.display = 'none'" class="table-image">
        {{team.owner?.teamName}}
        <span *ngIf="forecastWeek > 1" class="small-text__light" style="padding-left: 5px">{{playoffCalculatorService.getWinsAtWeek(team.roster.rosterId, forecastWeek - 1)}} - {{playoffCalculatorService.getLossesAtWeek(team.roster.rosterId, forecastWeek - 1)}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="teamDivision">
      <mat-header-cell *matHeaderCellDef>Team Division</mat-header-cell>
      <mat-cell *matCellDef="let team">{{sleeperService.selectedLeague.divisionNames[playoffCalculatorService.getDivisionByRosterId(team.roster.rosterId)?.divisionId - 1] || '---'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="record">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Projected Record</mat-header-cell>
      <mat-cell *matCellDef="let team">{{playoffCalculatorService.teamsProjectedRecord[team.roster.rosterId]?.projWins}}
        - {{playoffCalculatorService.teamsProjectedRecord[team.roster.rosterId]?.projLoss}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="makePlayoffs">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Make Playoffs</mat-header-cell>
      <mat-cell *matCellDef="let team" style="background: {{getProbColor(playoffCalculatorService.teamPlayoffOdds[team.roster.rosterId]?.timesMakingPlayoffs)}}">
        <span *ngIf="this.sleeperService.selectedLeague.playoffStartWeek > this.forecastWeek || (this.sleeperService.selectedLeague.playoffStartWeek <= this.forecastWeek && playoffCalculatorService.teamPlayoffOdds[team.roster.rosterId]?.timesMakingPlayoffs !== 100)">{{getDisplayValue(playoffCalculatorService.teamPlayoffOdds[team.roster.rosterId]?.timesMakingPlayoffs)}}</span>
        <mat-icon *ngIf="this.sleeperService.selectedLeague.playoffStartWeek <= this.forecastWeek && playoffCalculatorService.teamPlayoffOdds[team.roster.rosterId]?.timesMakingPlayoffs === 100">check</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="winDivision">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Win Division</mat-header-cell>
      <mat-cell *matCellDef="let team" style="background: {{getProbColor(playoffCalculatorService.teamPlayoffOdds[team.roster.rosterId]?.timesWinningDivision)}}">
        <span>{{getDisplayValue(playoffCalculatorService.teamPlayoffOdds[team.roster.rosterId]?.timesWinningDivision)}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="getBye">
      <mat-header-cell *matHeaderCellDef mat-sort-header>1st-Round Bye</mat-header-cell>
      <mat-cell *matCellDef="let team" style="background: {{getProbColor(playoffCalculatorService.teamPlayoffOdds[team.roster.rosterId]?.timesWithBye)}}">
        <span>{{getDisplayValue(playoffCalculatorService.teamPlayoffOdds[team.roster.rosterId]?.timesWithBye)}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="makeConfChamp">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Make Semi-Finals</mat-header-cell>
      <mat-cell *matCellDef="let team" style="background: {{getProbColor(playoffCalculatorService.teamPlayoffOdds[team.roster.rosterId]?.timesMakeConfRd)}}">
        <span *ngIf="this.sleeperService.selectedLeague.playoffStartWeek > this.forecastWeek || (this.sleeperService.selectedLeague.playoffStartWeek <= this.forecastWeek && playoffCalculatorService.teamPlayoffOdds[team.roster.rosterId]?.timesMakeConfRd !== 100)">{{getDisplayValue(playoffCalculatorService.teamPlayoffOdds[team.roster.rosterId]?.timesMakeConfRd)}}</span>
        <mat-icon *ngIf="this.sleeperService.selectedLeague.playoffStartWeek <= this.forecastWeek && playoffCalculatorService.teamPlayoffOdds[team.roster.rosterId]?.timesMakeConfRd === 100">check</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="makeChampionship">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Make Finals</mat-header-cell>
      <mat-cell *matCellDef="let team" style="background: {{getProbColor(playoffCalculatorService.teamPlayoffOdds[team.roster.rosterId]?.timesMakeChampionship)}}">
        <span *ngIf="this.sleeperService.selectedLeague.playoffStartWeek > this.forecastWeek || (this.sleeperService.selectedLeague.playoffStartWeek <= this.forecastWeek && playoffCalculatorService.teamPlayoffOdds[team.roster.rosterId]?.timesMakeChampionship !== 100)">{{getDisplayValue(playoffCalculatorService.teamPlayoffOdds[team.roster.rosterId]?.timesMakeChampionship)}}</span>
        <mat-icon *ngIf="this.sleeperService.selectedLeague.playoffStartWeek <= this.forecastWeek && playoffCalculatorService.teamPlayoffOdds[team.roster.rosterId]?.timesMakeChampionship === 100">check</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="winChampionship">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Win Finals</mat-header-cell>
      <mat-cell *matCellDef="let team" style="background: {{getProbColor(playoffCalculatorService.teamPlayoffOdds[team.roster.rosterId]?.timesWinChampionship)}}">
        <span *ngIf="this.sleeperService.selectedLeague.playoffStartWeek > this.forecastWeek || (this.sleeperService.selectedLeague.playoffStartWeek <= this.forecastWeek && playoffCalculatorService.teamPlayoffOdds[team.roster.rosterId]?.timesWinChampionship !== 100)">{{getDisplayValue(playoffCalculatorService.teamPlayoffOdds[team.roster.rosterId]?.timesWinChampionship)}}</span>
        <mat-icon *ngIf="this.sleeperService.selectedLeague.playoffStartWeek <= this.forecastWeek && playoffCalculatorService.teamPlayoffOdds[team.roster.rosterId]?.timesWinChampionship === 100">check</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="divisionTableCols"></mat-header-row>
    <mat-row *matRowDef="let row; columns: divisionTableCols;" [ngClass]="{'mat-table-highlight': row.roster.teamMetrics.rank <= sleeperService.selectedLeague.playoffTeams && row.roster.teamMetrics.wins > 0}"></mat-row>
  </mat-table>
</div>
