<div class="table-container">
  <div>
    <mat-form-field class="button-left player-value-checkbox-margin mat-dropdown-wide-300">
      <mat-label>Search Player</mat-label>
      <input matInput type="text" (keyup)="updatePlayerFilters()" [(ngModel)]="searchVal">
    </mat-form-field>
  </div>
  <div>
    <span class="button-left">
      <mat-checkbox class="player-value-checkbox-margin" color="primary" [(ngModel)]="filterPosGroup[0]"
                    (change)="updatePlayerFilters()">QB</mat-checkbox>
      <mat-checkbox class="player-value-checkbox-margin" color="primary" [(ngModel)]="filterPosGroup[1]"
                    (change)="updatePlayerFilters()">RB</mat-checkbox>
      <mat-checkbox class="player-value-checkbox-margin" color="primary" [(ngModel)]="filterPosGroup[2]"
                    (change)="updatePlayerFilters()">WR</mat-checkbox>
      <mat-checkbox class="player-value-checkbox-margin" color="primary" [(ngModel)]="filterPosGroup[3]"
                    (change)="updatePlayerFilters()">TE</mat-checkbox>
      <mat-checkbox class="player-value-checkbox-margin" color="primary" [(ngModel)]="filterPosGroup[4]" [disabled]="showFreeAgents || showRookies"
                    (change)="updatePlayerFilters()">Picks</mat-checkbox>
    </span>
    <span class="container_spacer"></span>
    <span class="button-right">
      <mat-slide-toggle *ngIf="sleeperService.leagueLoaded" color="primary" [(ngModel)]="showFreeAgents" (change)="updatePlayerFilters()" class="player-value-checkbox-margin">
        Free Agents
      </mat-slide-toggle>
          <mat-slide-toggle color="primary" [(ngModel)]="showRookies" (change)="updatePlayerFilters()" class="player-value-checkbox-margin">
      Rookies Only
    </mat-slide-toggle>
          <mat-slide-toggle color="primary" [(ngModel)]="isSuperFlex" (change)="updateSuperFlex()"  class="player-value-checkbox-margin" >
      SuperFlex
    </mat-slide-toggle>
    </span>
  </div>
  <div class="margin-top-10 mat-elevation-z8" [hidden]="filteredPlayers.length === 0">
    <mat-table [dataSource]="dataSource" matSort matSortActive="{{isSuperFlex ? 'sf_trade_value' : 'trade_value'}}"
               matSortDirection="desc">

      <!-- Name Column -->
      <ng-container matColumnDef="full_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.full_name}} <span
          *ngIf="(element.experience === 0 && element.position !== 'PI')" matBadge="R" matBadgeOverlap="false"></span>
<!--          <span class="small-text__light">{{element.team}}</span>-->
        </mat-cell>
      </ng-container>

      <!-- Pos Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Position</mat-header-cell>
        <mat-cell
          *matCellDef="let element"> {{element.position == 'PI' ? 'PICK' : element.position}} {{isSuperFlex ? element.sf_position_rank : element.position_rank}}</mat-cell>
      </ng-container>

      <!-- Age Column -->
      <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Age</mat-header-cell>
        <mat-cell
          *matCellDef="let element"> {{(element.age == -1 || !element.age) ? '??' : element.age + ' y.o.'}} </mat-cell>
      </ng-container>

      <!-- Fantasy Points -->
      <ng-container matColumnDef="halfppr">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{playerService.playerStatsYear}} Points</mat-header-cell>
        <mat-cell
          *matCellDef="let element">{{playerService.playerStats[element.sleeper_id]?.pts_half_ppr || '---'}}</mat-cell>
      </ng-container>

      <!-- Fantasy Points -->
<!--      <ng-container matColumnDef="valueRatio">-->
<!--        <mat-header-cell *matHeaderCellDef mat-sort-header>VPP Ratio <mat-icon style="font-size: 20px" [matTooltip]="'Value Per Point Ratio = Value / (points/games play)'" [matTooltipPosition]="'above'">help_outline</mat-icon></mat-header-cell>-->
<!--        <mat-cell-->
<!--          *matCellDef="let element">{{getValueRatio(element) || '-&#45;&#45;'}}</mat-cell>-->
<!--      </ng-container>-->


      <!-- Value Column -->
      <ng-container matColumnDef="{{isSuperFlex ? 'sf_trade_value' : 'trade_value'}}">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Trade Value</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{isSuperFlex ? element.sf_trade_value : element.trade_value}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="$event.stopPropagation();">
          <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
          <mat-menu #menu="matMenu">
            <button *ngIf="element.position !== 'PI'" mat-menu-item [routerLink]="['../details', element.name_id]">
              <span>View Player Page</span>
            </button>
            <button mat-menu-item (click)="openPlayerComparison(element)">
              <span>Add to Player Comparison</span>
            </button>
            <button mat-menu-item *ngIf="sleeperService.selectedLeague && element.position !== 'PI' && element.owner" [routerLink]="['../../league/team', element.owner]">
              <span>View Team Page</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

          <ng-container *ngIf="sleeperService.selectedLeague" matColumnDef="owner">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Owner</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.owner || '---'}}</mat-cell>
          </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="ktc-table-element-row" *matRowDef="let row; columns: displayedColumns;"
               [routerLink]="['../details', row.name_id]"
               [ngClass]="{'accent__color__background': sleeperService.sleeperUser?.userData?.username === row.owner?.toLowerCase() && sleeperService.selectedLeague}"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
  <div class="mid-bold-text center-text warning__alert" [hidden]="filteredPlayers.length > 0">No results found. Try a different search.</div>
</div>
