<div class="margin-top-10 large-bold-header-text center-text">Draft Center</div>
<div class="center-text margin-top-10">
  View past drafts with current day values, or create a mock draft for upcoming draft with the new rookie class.
</div>
<div *ngIf="sleeperService.leagueLoaded && (mockDraftService.teamPicks.length > 0 || sleeperService.completedDrafts.length > 0)" class="grid-100 button-right margin-top-10">
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Select a Draft</mat-label>
    <mat-select [(ngModel)]="selectedDraft">
      <mat-optgroup label="Upcoming" *ngIf="mockDraftService.teamPicks.length > 0">
        <mat-option value="upcoming">Mock Draft: {{mockDraftService.teamPicks.length/sleeperService.selectedLeague.totalRosters}} Rounds</mat-option>
      </mat-optgroup>
      <mat-optgroup label="Completed" *ngIf="sleeperService.completedDrafts.length > 0">
        <mat-option *ngFor="let draft of sleeperService.completedDrafts"
                    [value]="draft">Draft: {{draft.draft.season}} - {{draft.draft.rounds}} Rounds</mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="sleeperService.leagueLoaded">
  <div *ngIf="selectedDraft == 'upcoming'" class="margin-top-25">
    <app-draft-table></app-draft-table>
  </div>

  <div *ngIf="selectedDraft && selectedDraft !== 'upcoming'" class="margin-top-25">
    <app-completed-draft-table [selectedDraft]="selectedDraft"></app-completed-draft-table>
  </div>

</div>

<div class="center-text margin-top-50" *ngIf="!sleeperService.leagueLoaded">
  <div class="warning__alert">Cannot find drafts. Please select a league.</div>
  <br>
  <button mat-raised-button color="warn" routerLink="./home">Choose League</button>
</div>

<div class="center-text margin-top-50" *ngIf="mockDraftService.teamPicks.length == 0 && sleeperService.completedDrafts.length == 0 && sleeperService.leagueLoaded">
  <div class="warning__alert">Cannot generate drafts. Please select a different year or league.</div>
  <br>
  <button mat-raised-button color="warn" routerLink="./home">Choose Another League</button>
</div>
