<div style="margin-left: 20%; margin-right: 20%">
  <div class="center-text">
    <div class="large-bold-header-text margin-top-10">About</div>
  </div>

  <div class="center-text mid-bold-text margin-bot-25 margin-top-50">What is Dynasty Daddy?</div>
  <div>
    The goal is to provide users with a frictionless way to see player value, team value, draft breakdowns, and more. When managing my teams I would constantly have to switch between multiple websites to figure out what moves I should make. I wanted to find a way to spend less time doing research and leverage the data in more ways than before. Thus Dynasty Daddy was born to help me beat my friends in fantasy easier!
  </div>

  <div class="center-text mid-bold-text margin-bot-25 margin-top-25">Who am I?</div>
  <div>
    I am Jeremy Timperio, a full stack software engineer who works at a start up called Anduin. This project is a passion project of mine because I love fantasy football and thought it would be a great way to learn Angular 11 on my own.
  </div>
</div>
