<div class="player-comp-container">
  <div>
    <mat-button-toggle-group [(ngModel)]="selectedDateFilter" (change)="updateTable()" class="margin-bot-20"
                             style="overflow: auto">
      <mat-button-toggle value="alltime">All-time</mat-button-toggle>
      <mat-button-toggle value="3month">3 Months</mat-button-toggle>
      <mat-button-toggle value="month">1 Month</mat-button-toggle>
      <mat-button-toggle value="2week">2 Weeks</mat-button-toggle>
    </mat-button-toggle-group>
  </div>


  <div style="display: block;" [ngClass]="{'player-comp-chart-wrapper': configService.isMobile}">
    <div class="player-comp-chart">
      <canvas baseChart
              [datasets]="playerComparisonService.lineChartData"
              [labels]="playerComparisonService.lineChartLabels"
              [options]="lineChartOptions"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>
</div>
