/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');

@import '~@angular/material/theming';

@include mat-core();

/**
 * mat custom theme for button toggles
 */
$app-primary: mat-palette($mat-pink);
$app-accent:  mat-palette($mat-blue-gray, A200, A100, A400);

$app-theme: mat-dark-theme($app-primary, $app-accent);

@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);

  .mat-button-toggle {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast);
  }

  .mat-button-toggle-checked {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }
}

// Include the mixin
@include mix-app-theme($app-theme);

app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

html, body, app-root, .app-frame {
  background: #303030;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  margin: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  color: #e0e0e0;
}
.content-wrapper {
  display: flex;
  flex: 1 1 auto;     /* 1 */
  position: relative;
  flex-direction: column;
  min-width: 1px;
  max-width: 1600px;
  margin: 0 auto;
  z-index: 1;
  width: 100%;        /* 2 */
  padding: 8px 24px 24px;
}


.content-wrapper__mobile {
  display: flex;
  flex: 1 1 auto;     /* 1 */
  position: relative;
  flex-direction: column;
  min-width: 1px;
  max-width: 1600px;
  margin: 0 auto;
  z-index: 1;
  width: 100%; /* 2 */
  padding-right: 5px;
  padding-left: 5px;
}

.main {
  min-height: 100%;
  margin-bottom: -50px;
}
.main:after {
  content: "";
  display: block;
  height: 100px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.footer {
    display: flex;
    flex: 1 1 auto;     /* 1 */
    position: relative;
    flex-direction: column;
    min-width: 1px;
    max-width: 1400px;
    margin: auto;
    z-index: 1;
    width: 100%;        /* 2 */
    text-align: left;
}

.games-container {
  display: flex;
  flex-direction: column;
  padding: 8px 10%;
  min-width: 300px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 15px 0 0;
}

.container__no-padding {
  display: flex;
  flex-wrap: wrap;
}

.container_spacer {
  flex: 1 1 auto;
}

.button-right {
  float: right;
}

.button-left {
  float: left;
}

.starter-icon {
  font-size: 14px;
}

.header-icon {
  font-size: 22px;
}

/**
 * grids
 */

.grid-10 {
  width: calc(10% - 14px);
}

.grid-15 {
  width: calc(15% - 14px);
}

.grid-16 {
  width: calc(16% - 14px);
}

.grid-20 {
  width: calc(20% - 14px);
}

.grid-25 {
  width: calc(25% - 14px);
}

.grid-30 {
  width: calc(30% - 14px);
}

.grid-33 {
  width: calc(33.3333% - 14px);
}

.grid-50 {
  width: calc(50% - 14px);
}

.grid-60 {
  width: calc(60% - 14px);
}

.grid-66 {
  width: calc(66.6666% - 14px);
}

.grid-70 {
  width: calc(70% - 14px);
}

.grid-75 {
  width: calc(75% - 14px);
}

.grid-100 {
  width: calc(100% - 14px);
}

/**
 * margins
 */

.margin-bot-10 {
  margin-bottom: 10px;
}

.margin-bot-20 {
  margin-bottom: 20px;
}

.margin-bot-25 {
  margin-bottom: 25px;
}

.margin-bot-50 {
  margin-bottom: 50px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-20 {
  margin: 20px;
}

.player-value-checkbox-margin {
  margin: 0 12px;
}

.player-value-checkbox-margin__mobile {
  margin: 0 3px;
}

/**
 * text
 */
.small-text__light {
  color: lightgray;
  font-size: 12px;
}

.text__light {
  color: lightgray;
}

.mid-bold-text {
  font-weight: bold;
  font-size: 16px;
}

.large-bold-header-text {
  font-size: 24px;
  font-weight: bold;
}

.center-text {
  text-align: center;
}

.right-align-text {
  text-align: right;
}

.link--text__no__underline:hover {
  color: #fdca40;
  cursor: pointer;
}

.modal-players-list__item {
  padding: 8px;
  border: 1px solid dimgray;
  cursor: pointer;
}
.modal-players-list__item:hover {
  background-color: #577380;
}


/**
 * breaks
 */
.vertical-break__left {
  border-left: thin solid #D3D3D3;
}

.vertical-break__right {
  border-right: thin solid #D3D3D3;
}

.vertical-break__right__dark {
  border-right: thin solid grey;
}

hr.dark {
  border-top: 1px solid #A9A9A9;
}

.arrow-icon__nav {
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
}

.transaction-icon,
.add-icon-button {
  font-size: 22px;
  vertical-align: middle
}

.player-comp-icon {
  font-size: 20px;
  vertical-align: middle;
  padding-right: 10px;
}

/**
 * colors
 */

.success__alert {
  color: palegreen;
}

.warning__alert {
  color: #fdca40;
}

.urgent__alert {
  color: #e74c3c;
}

.info__alert {
  color: lightblue;
}

.accent__color__background {
  background: #577380;
}

.disabled__color {
  color: grey;
}

.primary__color {
  color: #c2185b;
}


/**
 * mat dropdowns
 */
.mat-dropdown-wide-200 {
  width: 200px;
}

.mat-dropdown-wide-300 {
  width: 300px;
}

.mat-dropdown-wide-100-percent {
  width: 100%;
}


/**
 * mat table
 */
.table-element-row td {
  border-bottom-width: 0;
}

.table-element-detail {
  overflow: hidden;
  display: flex;
}

.table-container {
  display: flex;
  flex-direction: column;
  //padding: 8px 24px 24px;
  min-width: 300px;
  justify-content: center;
}

.standings-table-container {
  display: flex;
  flex-direction: column;
  //padding: 8px 24px 24px;
  min-width: 800px;
  justify-content: center;
}

.box-score-table-container {
  display: flex;
  flex-direction: column;
  padding: 3px 8px 8px;
  min-width: 1000px;
  justify-content: center;
}

.player-comp-container {
  position: relative;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  justify-content: center;
}


.ktc-table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  justify-content: center;
  margin:0px auto;
  max-width: 1000px;
  white-space: nowrap;
  overflow: hidden;
}

.playoff-calc-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  margin:0px auto;
}

.flex-start-container {
  display: flex;
  flex-flow: column;
}

.flex-details-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-item-home {
  align-self: auto;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 15px;
}

.flex-item-details {
  align-self: auto;
}


table {
  width: 100%;
}

tr.table-detail-row {
  height: 0;
}

.mat-table-right {
  display:flex;
  justify-content:flex-end;
}

.table-dropdown-right {
  display:flex;
  justify-content:flex-end;
  padding-right: 25%;
}

.table-dropdown-center {
  display:flex;
  justify-content:center;
}


.mat-table-center-text {
  justify-content: center;
}

// activity feed
.transaction--feed {
  border-left: 1px dashed #7f7f7f;
}

.transaction--box {
  display: flex;
  flex-direction: column;
  //padding-left: 20px;
  max-width: 300px;
  margin:15px auto;
}

.metrics--box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 15px;
}

/**
 * transactions styling
 */
.transaction--box__row {
  display: flex;
  justify-content: space-between;
}

.transaction--box__end {
  width: 20%;
  text-align: right;
}

.transaction--box__start {
  width: 70%;
  text-align: left;
}

.table-image {
  width: 100%;
  height: auto;
  max-width: 40px;
  padding:1px 15px 1px 1px;
}

.games-image {
  width: 100%;
  height: auto;
  max-width: 25px;
  padding-right: 5px;
}


/**/
/* query builder style overrides*/
/**/
.query-row {
  position: relative;
  margin-top: 12px;
  margin-left: 24px;
  padding: 14px;
  border-radius: 5px;
  border: 1px solid #577380;
}
.query-row::after {
  content: '';
  position: absolute;
  top: 50% !important;
  bottom: -13px !important;
  left: -16px !important;
  width: 10px !important;
  height: auto !important;
  border-color: #577380 !important;
  border-width: 0 0 0 1px !important;
}
.query-row::before {
  content: '';
  position: absolute;
  top: -13px !important;
  bottom: 50% !important;
  left: -16px !important;
  width: 10px !important;
  height: auto !important;
  border-color: #577380 !important;
  border-width: 0 0 1px 1px !important;
}
.query-error {
  border-color: #fdca40;
}
.query-warning {
  margin-top: 4px;
  text-align: center;
  color: #fdca40;
}

