<div *ngIf="doughnutChartLabels.length > 0">
  <div class="mid-bold-text center-text margin-top-50">{{playerService.playerStatsYear}} Season Metrics</div>
  <div class="margin-top-10 center-text">Below are the <span class="info__alert">{{playerService.playerStatsYear}} season</span> stats compared to the league leader in each category.</div>
  <div fxLayout="row wrap" fxLayoutAlign="center" class="margin-top-50">
    <div class="item" *ngFor="let chartName of doughnutChartLabels; let i = index">
      <canvas baseChart
              [data]="doughnutChartData[i]"
              [labels]="chartName"
              [chartType]="doughnutChartType"
              [options] = "doughnutChartOptions"
              [plugins]="doughnutChartPlugins"
              [colors]="chartColors"
              [legend]="false">
      </canvas>
      <div class="center-text margin-bot-20 margin-top-10">{{chartName[0]}}</div>
    </div>
  </div>
</div>
<div class="mid-bold-text margin-top-50 center-text">Past 18 Box Scores</div>
<div class="margin-top-10 center-text">Below is the past 18 weeks of stats from Sleeper for the following player. The fantasy scoring is <span class="info__alert">0.5 PPR scoring</span>.</div>
<div class="margin-top-50 box-score-table-container">
  <mat-table [dataSource]="datasource" class="mat-elevation-z8">

    <ng-container matColumnDef="week">
      <mat-header-cell *matHeaderCellDef>Week</mat-header-cell>
      <mat-cell *matCellDef="let gamelog; let i = index">{{getDisplayWeek(i)}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="points">
      <mat-header-cell *matHeaderCellDef>Fantasy Points</mat-header-cell>
      <mat-cell *matCellDef="let gamelog">{{gamelog?.pts_half_ppr || '---'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="off_snp">
      <mat-header-cell *matHeaderCellDef>Off Snp %</mat-header-cell>
      <mat-cell *matCellDef="let gamelog">{{gamelog?.off_snp || gamelog?.snp || 0}}%</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pass_att">
      <mat-header-cell *matHeaderCellDef>Pass Att</mat-header-cell>
      <mat-cell *matCellDef="let gamelog">{{gamelog?.pass_att || 0}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pass_cmp">
      <mat-header-cell *matHeaderCellDef>Pass Cmp</mat-header-cell>
      <mat-cell *matCellDef="let gamelog">{{gamelog?.pass_cmp || 0}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pass_yd">
      <mat-header-cell *matHeaderCellDef>Pass Yards</mat-header-cell>
      <mat-cell *matCellDef="let gamelog">{{gamelog?.pass_yd || 0}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pass_td">
      <mat-header-cell *matHeaderCellDef>Pass TDs</mat-header-cell>
      <mat-cell *matCellDef="let gamelog">{{gamelog?.pass_td || 0}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pass_int">
      <mat-header-cell *matHeaderCellDef>Pass Ints</mat-header-cell>
      <mat-cell *matCellDef="let gamelog">{{gamelog?.pass_int || 0}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="rush_att">
      <mat-header-cell *matHeaderCellDef>Rush Att</mat-header-cell>
      <mat-cell *matCellDef="let gamelog">{{gamelog?.rush_att || 0}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="rush_yd">
      <mat-header-cell *matHeaderCellDef>Rush Yds</mat-header-cell>
      <mat-cell *matCellDef="let gamelog">{{gamelog?.rush_yd || 0}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="rush_ypa">
      <mat-header-cell *matHeaderCellDef>Rush YPA</mat-header-cell>
      <mat-cell *matCellDef="let gamelog">{{gamelog?.rush_ypa || 0}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="rush_td">
      <mat-header-cell *matHeaderCellDef>Rush TDs</mat-header-cell>
      <mat-cell *matCellDef="let gamelog">{{gamelog?.rush_td || 0}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pass_sack">
      <mat-header-cell *matHeaderCellDef>Sacks</mat-header-cell>
      <mat-cell *matCellDef="let gamelog">{{gamelog?.pass_sack || 0}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="pass_sack_yds">
      <mat-header-cell *matHeaderCellDef>Sack Yds</mat-header-cell>
      <mat-cell *matCellDef="let gamelog">{{gamelog?.pass_sack_yds || 0}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fum">
      <mat-header-cell *matHeaderCellDef>Fumbles</mat-header-cell>
      <mat-cell *matCellDef="let gamelog">{{gamelog?.fum || 0}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fum_lost">
      <mat-header-cell *matHeaderCellDef>Fumbles Lost</mat-header-cell>
      <mat-cell *matCellDef="let gamelog">{{gamelog?.fum_lost || 0}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="rec">
      <mat-header-cell *matHeaderCellDef>Rec</mat-header-cell>
      <mat-cell *matCellDef="let gamelog">{{gamelog?.rec || 0}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="rec_tgt">
      <mat-header-cell *matHeaderCellDef>Rec Targets</mat-header-cell>
      <mat-cell *matCellDef="let gamelog">{{gamelog?.rec_tgt || 0}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="rec_yd">
      <mat-header-cell *matHeaderCellDef>Rec Yd</mat-header-cell>
      <mat-cell *matCellDef="let gamelog">{{gamelog?.rec_yd || 0}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="rec_ypr">
      <mat-header-cell *matHeaderCellDef>Rec YPR</mat-header-cell>
      <mat-cell *matCellDef="let gamelog">{{gamelog?.rec_ypr || 0}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="rec_td">
      <mat-header-cell *matHeaderCellDef>Rec TD</mat-header-cell>
      <mat-cell *matCellDef="let gamelog">{{gamelog?.rec_td || 0}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="rec_rz_tgt">
      <mat-header-cell *matHeaderCellDef>Rec RZ T</mat-header-cell>
      <mat-cell *matCellDef="let gamelog">{{gamelog?.rec_rz_tgt || 0}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="box-score-element-row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
