.mat-row:nth-child(even){
  background-color: #373737;
}

.box-score-element-row:hover {
  background: #577380;
}

.box-score-element-row:active {
  background: #577380;
}

.content {
  width: 200px;
}

.item{
  margin-bottom: 16px;
  margin-right: 16px;
  max-width: 200px;
}
