<div class="center-text">
  <a style="padding-right: 10px" [routerLink]="['./about']"><span class="link--text__no__underline small-text__light" >About</span></a>
  <a href="https://github.com/jmtimper/dynasty-daddy" target="_blank" style="padding-right: 10px"><span class="link--text__no__underline small-text__light">Github</span></a>
  <a href="https://discord.gg/xJtzrvN7WC" target="_blank" style="padding-right: 10px"><span class="link--text__no__underline small-text__light">Discord</span></a>
  <a href="https://www.linkedin.com/in/jmtimper/" target="_blank" style="padding-right: 10px"><span class="link--text__no__underline small-text__light">LinkedIn</span></a>
  <a href="https://www.patreon.com/DynastyDaddy?fan_landing=true" target="_blank"><span class="link--text__no__underline small-text__light">Donate</span></a>
</div>
